<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% block content %}
{% load static %}

<body>
  <article id="later-list">
    <nav class="sort-container">
      <li>
        <p>すべて</p>
      <li>
        <p>映画</p>
        <span class="int">3423</span>
      <li>
        <p>小説</p>
        <span class="int">31</span>
      <li>
        <p>番組</p>
        <span class="int">12</span>
      <li>
        <p>漫画</p>
        <span class="int">12</span>
    </nav>

    <div class="later-list-container">
      <div class="item-sort">
        <span>並び替え</span>
        <span><a href="#">追加順</a></span>
        <span><a href="#">平均スコア順</a></span>
        <span><a href="#">フォロワースコア順</a></span>
      </div>
      {% for post in my_items %}
      <section class="item-list">
        <div class="left-container">
          {% if post.title.thumnail %}
            <img class="my-thumnail" src="{{ post.title.thumnail.url }}">
          {% endif %}
        </div>
        <div class="right-container">
          <div class="block">
            <span class="content-title"><a href="{% url 'main_app:item_detail' post.title.pk %}">{{ post.title }}</a></span>
            <span class="item-year"><a href="">1994</a></span>
            <div class="menu-container">
              <form action="{% url 'main_app:ajax_stock_list' post.title.id %}" method="POST" name="{{post.title.id}}">
                <button type="submit" name="stock" id="watchstock_submit{{post.title.id}}" class="watchstock_submit btn btn-primary watched" value="{{post.stock}}">{{ post.get_stock_display }}</button>
                {% csrf_token %}
              </form>
              <form action="{% url 'main_app:ajax_status_list' post.title.id %}" method="POST" name="{{post.title.id}}">
                <button type="submit" name="status" id="watchstatus_submit{{post.title.id}}" class="watchstatus_submit btn btn-primary icon-cross" value="{{post.status}}"></button>
                {% csrf_token %}
              </form>

            </div>
          </div>
          <div class="table">
            <div class="table-cell left-table">
              <div class="inline-block">
                <span class="following-score table-row">9.0</span>
                <span class="all-user-score table-row">9.0</span>
              </div>
            </div>
            <div class="table-cell right-table">
              <div class="inline-block">
                {% for a in post.title.tag.all %}
                  <span class="item-genre"><a href="">{{ a.name }}</a></span>
                {% endfor %}
                <span class="item-genre"><a href="">ヒューマンドラマ</a></span>
                <i class="border-right"></i>
                <span class="item-tag"><a href="">確固たる意志</a></span>
                <span class="item-tag"><a href="">心揺さぶられる</a></span>
                <span class="item-tag"><a href="">ノスタルジー</a></span>
              </div>
              <div class="table-row">
                <p class="short-overview">
                  {{ post.title.synopsis }}
                </p>
              </div>
            </div>
          </div>
          <article id="out-site">
            <div class="site-name">
              <p>Dtv</p>
              <p><var>100</var></p>
            </div>
            <div class="site-name">
              <p>Hulu</p>
              <p><var>200</var></p>
            </div>
            <div class="site-name">
              <p>Netflix</p>
              <p><var>300</var></p>
            </div>
            <div class="site-name">
              <p>amazon video</p>
              <p><var>0</var></p>
            </div>
            <div class="site-name">
              <p>TSUTAYA</p>
              <p><var>400</var></p>
            </div>
          </article>
        </div>
      </section>
      {% endfor %}
    </div>
  </article>
</body>
<script>

$('.watchstatus_submit').on('click', e => {
    // デフォルトのイベントをキャンセルし、ページ遷移しないように!
    e.preventDefault();
    var v = e.currentTarget.value;
    var h = e.currentTarget.innerHTML;
    var pk = e.currentTarget.parentNode.name;
    console.log('アイテムID：'+pk, 'value:'+v, 'inner'+h);
    if (v == 0) {
      e.currentTarget.value = 2
      e.currentTarget.innerHTML = '';
    } else if (v == 2){
      e.currentTarget.value = 0
      e.currentTarget.innerHTML = '';
    } else {
      alert("error")
    }
    $.ajax({
        'url': '/item/my_stock_list/' + pk + '/status/',
        'type': 'POST',
        'data': {
          'csrfmiddlewaretoken': '{{csrf_token}}',
          'status': e.currentTarget.value,
          'stock': $('#watchstock_submit'+ pk).val(),
        },
        'dataType': 'json'
    }).done( response => {
      console.log('Ajax終わり');
    });
});

$('.watchstock_submit').on('click', e => {
    e.preventDefault();
    var v = e.currentTarget.value;
    var h = e.currentTarget.innerHTML;
    var pk = e.currentTarget.parentNode.name;
    console.log('アイテムID：'+pk, 'value:'+v, 'inner'+h);
    if (v == 0) {
      e.currentTarget.value = 2
      e.currentTarget.innerHTML = '後で見る 解除'
      $('#watchstock_submit').css({
        'background-color': 'white',
        'color': 'rgb(60, 60, 60)'
      });
    } else if (v == 2){
      e.currentTarget.value = 0
      e.currentTarget.innerHTML = '後で見るへ'
      $('#watchstock_submit').css({
        'background-color': 'rgb(19, 23, 35)',
        'color': 'rgb(225, 236, 242)'
      });
    } else {
      alert("error")
    }
    $.ajax({
        'url': '/item/my_stock_list/' + pk + '/stock/',
        'type': 'POST',
        'data': {
          'csrfmiddlewaretoken': '{{csrf_token}}',
          'status': $('#watchstatus_submit'+ pk).val(),
          'stock': e.currentTarget.value,
        },
        'dataType': 'json'
    }).done( response => {
      // alert(response.stock)
    });
});
</script>
{% endblock %}
