*{
}



a:hover{
  text-decoration: underline;
}
form{
  display: inline-block;
  width: 50%;
  min-width: 480px;
  border:1px rgb(200, 200, 200) solid;
  border-radius: 5px;
}
form>p {
  text-align: center;
  border:1px rgb(200, 200, 200) solid;
  width: 100%;
  padding: 3px 10px;
}
form  {
  display: inline-block;
  vertical-align: middle;
}
form #id_text{
  display: inline-block;
  overflow: auto;
  width: 100%;
  height: 300px;
  resize: vertical;
}

.post-form input,textarea{
  border:1px rgb(200, 200, 200) solid;
}
.container {
  width: 50%;
  min-width: 480px;
  margin: 50px 0 30px 0;
  border:1px rgb(200, 200, 200) solid;
  border-radius: 5px;
  padding: 10px 0;
}
.iti {
  width: 100px;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  padding: 0 10px;
}
.yonn{
  width: 100%;
  margin-bottom: 20px;
}
.yonn>time{
  color:gray;
  font-size: 11px;
  margin-top: 10px;
}


.iti>.no-watch,
.iti>.no-keep,
.iti>.no-hyouka{
  font-size: 12px;
  margin: 5px 0;
}
.container2 {
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  padding: 0 5% 0 10px;
  text-align: left;
  color: rgb(50, 50, 50);
}
.container2>.movie-title{
}
.container2>.movie-title>h1>a{
  font-size: 16px;
}
.movie-title-a{
  padding-right: 5px;
}
.sihyouten-div{
  display: inline-block;
  border-left: 1px rgb(200, 200, 200) solid;
  padding: 0 3px;
  font-size: 15px;
  margin: 0 0px;
}
.all-sihyouten,
.user-sihyouten{
  font-weight: bold;
  color: rgb(50, 50, 50);
}
.all-sihyouten:after,
.user-sihyouten:after{
  content: "点";
  font-weight: normal;
  font-size: 10px;
}
.sann {
  width: 100%;
  padding-top: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.sann>.user-name{
  padding-right:5px;
}
.user-sihyouten-div{
  border: 1px gray solid;
  border-radius: 3px;
  padding: 1px 10px;
  font-size: 15px;
  margin: 0 0;
}

.user-sihyouten{
  font-weight: bold;
  color: rgb(50, 50, 50);
}
.go {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 10px 0 15px 0;
}
.go>img{
  position: relative;
  max-width: 100%;
  max-height: 400px;
  margin: 2rem 0 1rem 0;
  border-radius: 3px;
}
.go>p{
  font-size: 15px;
}
.youtube {
  position: relative;
  width: 100%;
  padding-top: 59.25%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  padding: 0 0 3%;

}

.keep-button-container {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.keep-checkbox {
  display: none;
}

.keep-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow:0px 1px 1px #555;
}

.keep-switch-inner {
  display: block;
  width: 100%;
}

.keep-switch-inner:before,
.keep-switch-inner:after {
  display: block;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: white;
  font-weight: normal;
  box-sizing: border-box;

}

.keep-switch-inner:before {
  content: "キープ";
  background-color: white;
  color: black;
  text-align: center;
  transition: color ease 0.2s;
}

.keep-switch-inner:after {
  display: none;
  content: "キープ解除";
  background-color: #CCCCCC;
  color: black;
  text-align: center;
}

.keep-switch-label:hover .keep-switch-inner:before {
  color: rgb(251, 21, 21);

}
.keep-checkbox:checked+.keep-switch-label .keep-switch-inner:before {
  display: none;
}
.keep-checkbox:checked+.keep-switch-label .keep-switch-inner:after {
  display:block;
}
.comment-button {
  position: relative;
  border: solid 1px gray;
  border-radius: 5px;
  height: 70px;
  width: 70px;
}
.comment-button>p{
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
}
